<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <title>BANGLA MATH SOLVER</title>
    <div>
</head>

<body>
<nav class="bg-info py-3  d-flex flex-column flex-lg-row justify-content-center align-items-center">
    <a class="mx-5 bg-white text-dark fw-bold  px-4 rounded rounded-xl" href="/">HOME</a>
    <a class="mx-5 bg-white text-dark fw-bold  px-4 rounded rounded-xl" href="{%url 'upload'%}">UPLOAD IMAGE</a>
    <a class="mx-5 bg-white text-dark fw-bold  px-4 rounded rounded-xl" href="{%url 'guide'%}">MATH GUIDE</a>

</nav>