{%extends 'base.html'%}
{% block body %}
<div class="container">
    <div class="my-4">
        <h4 class="text-info">1.How to do addition</h4>
        <pre class="bg-info text-white py-2">
            Use a number line if you’re just learning to add.
            Draw a line, then write numbers along the line from 0-15.
            Circle the first number you want to add.
            Start at that number.
            Then, count down your number line,
            moving the same number of spaces as the second number you’re adding.
            You’ll land on your answer.
            
            Let’s say you want to add 4+5.
            Circle 4 on your number line,
            then count 5 spaces down the line.
            You will land on 9, which is your answer.
            Use your number line to add these numbers:
            5+3
            1+7
            6+2
            4+4
        </pre>
    </div>

    <div class="my-4">
        <h4 class="text-info">1.How to do substaction</h4>
        <pre class="bg-info text-white py-2">
            
Identify which number is larger.
A problem such as 15 - 9 will need a different visualization technique
than a problem like 2 - 30.
In the problem 15 - 9, the first number, 15, is larger than the second, 9.
In the problem 2 - 30, the second number, 30, is larger than the first, 2.

Decide whether your answer will be positive or negative.
If the first number is larger, 
the answer is positive.
If the second number is larger, the answer will be negative.[2]
In the first problem, 15 - 9, your answer will be positive because the first number is larger than the second.
In the second problem, 2 - 30, your answer will be negative because the second number is larger than the first.

Find the gap between the two numbers.
In order to subtract the two numbers,
you'll have to visualize the gap between the two numbers and count the numbers in between.
For the problem 15 - 9, visualize a pile of 15 poker chips.
Remove 9 of them and you'll see that 6 of them remain.
Therefore, 15 - 9 = 6.Y
ou can also think of a number line.
Think of the numbers from 1 to 15 and then remove or go back 9 units to get 6.

For the problem 2 - 30,
the easiest thing to do is to reverse the numbers and then make the answer negative after you've subtracted them.
So, 30 - 2 = 28, since 28 is just two less than 30.
Make your answer negative since you determined at the beginning that it would be negative because the second number is larger than the first.
Therefore, 2 - 30 = -28.
        </pre>
    </div>
</div>

{%endblock%}